

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin: 0; padding: 0; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: 0; }
address,caption,cite,code,dfn,th,var { font-style: normal; font-weight: normal; }
ul { list-style: none; }
caption, th { text-align: left; }
q:before,q:after { content: ''; }
abbr,acronym { border: 0; }

/* Color codes
----------------------------
	Red: #ef4423
	Dark: #424242
	Light: #c3c5c0
*/


/* @group General Definitions */
body { font-family: 'BentonSans', sans-serif; font-style: normal; line-height: 1.8; font-weight: 400; font-size: 1em; color: #424242; background: #f9f9f9; background-size: cover; font-smooth: always; -webkit-font-smoothing: subpixel-antialiased; }


/* Typography
----------------------------------------- */
h1,h2,h3,h4,h5,h6 { margin-bottom: 0.938em; font-size: 100%; font-weight: normal; color: #424242; font-weight: 700; line-height: 1.125em; }
h1 { font-size: 2em; line-height: 1.125em; font-weight: 100; }
h2 { font-size: 1.250em; font-weight: 400; }
h3 { font-size: 1em; font-weight: 400; }
h4 { font-size: 0.875em; }
h5 { font-size: 0.813em; }
h6 { font-size: 0.688em; }

p {	margin-bottom: 1em; }
small, .small { font-size: 0.750em; }
strong { font-weight: bold; }
em { font-style: italic; }
a { color: #424242; text-decoration: none;  }
a:hover { color: #ef4423; text-decoration: none; }

hr { border: 0; border-top: 1px solid #eee; clear: both; height: 0; margin: 1.250em 0; }
hr.clear { border: none; }


/* Helper classes
----------------------------------------- */
.relative { position: relative; }
.strip { margin: 0; padding: 0; }
.strip li { padding: 0; margin: 0; list-style: none; }
.float-l,.float-r { position: relative; float: left; }
.float-r { float: right !important; }
.align-l { text-align: left; }
.align-c { text-align: center; }
.align-r { text-align: right; }
.align-j { text-align: justify; }
.hr { border-top: 1px solid #DDD; font-size: 1px; padding-bottom: 1.250em; }
.bold { font-weight: bold; }
.hidden { display: none; }
.nomargin { margin: 0 !important; }
.mr0 { margin-right: 0 !important; }

.clear { clear: both; }
.clearfix:after { clear: both; content: ' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0; }
.clearfix { display: inline-block; }
* html .clearfix { height: 1%; }
.clearfix { display: block; }

img { -moz-user-select: -moz-none; -khtml-user-select: none; -webkit-user-select: none; -o-user-select: none; user-select: none; }
img.center { display: block; margin: 0.625em auto; }

.red { color: #ef4423; }
.last { margin-right: 0; }
.touch .nooverflow { position: fixed; }

.noselect { user-select: none; -o-user-select: none; -moz-user-select: none; -khtml-user-select: none; -webkit-user-select: none; }
.table-display { display: table; height: 100%; width: 100%; }
.centered { display: table-cell; vertical-align: middle; text-align: center; }

.fixed { position: fixed; top: 0; z-index: 99; }
#stream.fixed { position: fixed; }

/* Layout
----------------------------------------- */


.wrapper { position: relative; width: 1128px; margin: 0px auto; }
/* #main { min-height: 1024px; margin-left: 340px; padding: 1.25em 1.875em; position: relative; background: #fff; } */

/* Header
----------------------------------------- */
#header { height: 48px; line-height: 40px; font-weight: 400; width: 100%; position: relative; z-index: 100; background-color: #FEFEFE; }
#header .wrapper { background: #ff6600; }
#header li { float: left; list-style: none; }
#header a { color: black; display: block; padding: 0 0.750em; }
#header a:hover { color: #fff; }

#site-title { width: 330px; float: left; text-transform: lowercase; font-size: 1.250em; letter-spacing: 1px; display: none; }
#site-menu { float: left; padding-left: 0em; }
#site-login {float: right; padding-right: 1em;}
#site-menu li {  padding: 0 0.425em; position: relative; }
#site-menu li a { padding: 0; }
#site-menu li a.active { border-top: 2px solid #fff; font-weight: bold; line-height: 38px; padding-left: 0em; }
#site-menu li a.logo {border: 2px solid #fff; position:relative; float: left; line-height: 12px; margin-bottom: 0.120em; margin-top: 0.120em;}

#site-menu li:hover #academy-menu { display: block; }
#academy-menu { position: absolute; background: #EF4423; left: 0; padding-right: 1.25em; display: none; }
#academy-menu li { float: none; }


#splash {
	height: 170px;
	background:  no-repeat center top;
}

#splash {
	width: 1110px;
	margin: 0px auto;
	padding: 5px 10px 10px 10px;
	background-color: #e7e7de;
}
#splash-wrapper {
height: 185px;
background-color: #FEFEFE;
}

/* Body
---------------------------------------------*/

#main   {
   background-color: #FEFEFE;
   height: auto; /* 974px, 1610px */
      

}

#more {
  margin: 0 auto;
  float: right;
  color: #FF6600;
  
}

div{

	display: block;
}

#page {
	width: 1128px;
	margin: 0px auto;
	background-color: #e7e7de;
	/* height: auto;  965px; */
	/* border: 2px solid #ff6600; */
	border-top: 1px solid #FF6600;
}
::selection {
	background: #ff6600; /* Safari */
	}
::-moz-selection {
	background: #ff6600; /* Firefox */
}

#content {
	padding: 5px 10px 10px 5px;
   width: 800.02px;
   
	line-height: 1.8;
	font-weight: 400;
	font-size: 11.5pt;
	float: left; 
}

#sidebar  {
float: right;
width: 255px;
border-left: 1px solid #FF6600;

padding: 20px 10px 10px 30px;
}

#ads {

float:left;
width:200;




}

#featured {
	width: 775px;
	margin: 20px 0px 0px 15px;
	height: 245px;
	
	

}



#Section1{
   position: relative;
   float: left;
   left: 0px;
   width: 245px;
  
   margin: 0px;
   padding: 0px;
   height: 150px;
   top: 10px;
  
}
#Section2{
   position: relative;
   float: left;
   left: 40px;
   width: 245px;
   background-color: #e7e7de;
 
   margin: 0px;
   padding: 0px;
   height: 150px;
    top: 10px;
}
#Section3{
   position: relative;
   float: left;
   left: 80px;
   width: 245px;
   background-color: #e7e7de;

	margin: 0px;
   padding: 0px;
   height: 150px;
    top: 10px;
   }
#Section4{
   float: right;
   position: relative;
   right: 5px;
   width: 245px;
   background-color: #e7e7de;
  
   margin: 0px;
   padding: 0px;
   height: 150px;
    top: 10px;
}


#footer {
 background-color: #FEFEFE;
   height: auto; /* 974px, 1610px */
	}

#footer1{
  
   width: 1106px;
   background-color: #e7e7de;
   padding: 10px 10px 10px 10px;
/*   margin-left: 389px;*/
   border-top: 2px solid #ff6600;
   margin: 0px auto;
}

#textbox {

	border: 2px solid #FF6600;

}

.yclinks{ font-family: Verdana;
	font-size: 10pt; 
	color: #828282;
	}

.article {

margin: 0px 10px 0px 30px;
}

/* Social colors
----------------------------------------- */ 
.facebook { background-color: #3b5998; }
.facebook:hover { background-color: #36538d; }
.twitter { background-color: #18b8ee; }
.twitter:hover { background-color: #16abdd; }
.linkedin { background-color: #388db4; }
.linkedin:hover { background-color: #317d9f; }
.google { background-color: #dd4b39; }
.google:hover { background-color: #cd4635; }



 